*{
    box-sizing: border-box;
}

body{
    background-color: rgb(101, 101, 101);
    margin: 0;
}


#paragrafo_1{
    grid-area: parag1;
}


header p{
    font-size: 20px;
    margin-top: 5vh;
}

nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

main{
    margin-right: 45vw;
    margin-left: 7vw;
}

p{
    font-size: 20px;
    text-align: justify;
}

ul, ol{
    font-size: 20px;
}

a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}

h1{
    margin-top: 8vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

h2{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 80vw;
    height: 30vh;
}

table, tr, th, td{
    border: solid 2px rgb(255, 0, 119);
    font-size: 25px;
    border-collapse:collapse;
    color: white;
    background-color:rgb(231, 220, 220);
    width: 80%;
}

th{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 119);
}

footer{
    background-color: rgb(255, 0, 119);
    padding: 2vh 0 2vh 7vw;
    font-family: sans-serif;
}

@media only screen and (max-width: 992px){

    main, header{
        margin-right: 10vw;
    }

}



@media only screen and (max-width: 600px){

    table, tr, th, td{
        font-size: 15px;
    }

    h3{
        font-size: 20px;
    }

    h2{
        font-size: 25px;
    }

    h1{
        font-size: 30px;
    }

    iframe{
        width: 80vw;
        height: 30vh;
    }
    
   body p{
        font-size: 15px;

    }

    ul, ol{
        font-size: 15px;
    }
        
    

}
